.CartBoxItem {
    padding: 2  0px;
    margin: 30px;
    font-size: 10px;
    background-color: papayawhip;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
}

.CartImg{
    width: 100px;
        height: 100px;
        object-fit: cover;
        object-position: center;
}