.Counter {
    display: flex;
    flex-direction: column;
}

.Btn {
    display: flex;
    flex-direction: row;   
    justify-content: center;
    padding: 20px; 
}

.Button{
    padding: 0px 10px 0px 10px;
}